<head>
        <link rel="stylesheet" type="text/css" href="style.css">
        </head>
<body>
<form action="/my-handling-form-page" method="post">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="user_name">
    </div>
    <div>
      <label for="mail">E-mail:</label>
      <input type="email" id="mail" name="user_mail">
    </div>
    <div>
      <label for="msg">Message:</label>
      <textarea id="msg" name="user_message"></textarea>
    </div>
    <p class="feedback">Please create a new message!!!</p>
  </form>
  <div id="myDiv">
        <p>MY div</p>
            </div>
  </body>