#myDiv {
    background-color: rgb(148, 51, 238);
    min-height: 200;
    max-width: 200;
    color: aliceblue;
  }

  .feedback{
      width: 100;
      height: 100;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: darkblue;
  }

  div {
      background-color: aquamarine;
  }